[submodule "ext/tbb"]
	path = ext/tbb
	url = https://github.com/wjakob/tbb.git
[submodule "ext/triangle"]
	path = ext/triangle
	url = https://github.com/libigl/triangle.git
[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/mitsuba-renderer/nanogui.git
