Makefile
*.cmake
.DS_Store
/build
/build_webgl
/build_debug
/CMakeCache.txt
/CMakeFiles
/ext_build
/build.ninja
/rules.ninja
/.ninja_deps
/.ninja_log
/resources/screenshots
/tekari_resources.cpp
/tekari_resources.h
/tekari
/tests
TODO.md
.vs
*.vcxproj
*.filters
*.sdf
*.sln
